version: '3.9'
services:
    app:
        build: app
        ports:
            - '8080:8080'
        depends_on: 
            - db
    db:
        image: 'postgres'
        ports:
            - '5432:5432'
        restart: always
        environment:
            POSTGRES_USER: 'postgres'
            POSTGRES_PASSWORD: 'postgres'
            POSTGRES_DB: 'postgres'
